.modal__controller{
    position: relative;
    border: none;
    border-radius: var(--radius-1);
    padding: var(--content-padding);
    height: 21.375rem;
    width: 16.5625rem;
    margin-bottom: 6.625rem;
    animation: appearFromTop 0.4s linear
}

.modal__li{
    display: flex;
    flex-direction: column;
    gap: var(--all-gap);
    padding-top: 0.9375rem;
}

.modal__li > h2{
    font-size: var(--font-size-3);
    font-weight: var(--font-weight-1);
}

.modal__li > small{
    font-size: var(--font-size-4);
    line-height: var(--font-line-height-1);
}

.modal__li > form{
    display: flex;
    flex-direction: column;
    gap: var(--all-gap);
}

.form__input{
    display: flex;
    flex-direction: column;
    gap: 0.625rem
}

.form__input > label{
    font-size: var(--font-size-3);
    font-weight: var(--font-weight-2);
}

.form__input > input{
    height: 2.1875rem;
    padding: var(--content-padding);
    border: 0.125rem solid var(--color-grey-3);
    border-radius: var(--radius-1);
    font-size: var(--font-size-4);
}

input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button {
   -webkit-appearance: none;
   margin: 0;
}

input[type="radio"]:checked + label{
    border: 0.125rem solid var(--color-brand-1);
    color: var(--color-brand-1);
    background-color: var(--color-brand-3);
}

.type-value{
    display: flex;
    flex-direction: column;
    gap: 0.625rem
}

.type-value > h2{
    font-size: var(--font-size-3);
}
.type-value > label{
    padding: 0.3125rem 0.625rem;
    border: 0.125rem solid var(--color-grey-4);
    border-radius: var(--radius-1);
    text-align: center;
    font-size: var(--font-size-3);
    font-weight: var(--font-weight-2);
}

.label-focus:hover{
    border: 0.125rem solid var(--color-brand-1);
    background-color: var(--color-brand-3);
}


.close__modal--diferent{
    position: absolute;
    right: 0;
    top: 0;
    width: 1.5625rem;
    height: 1.5625rem;
    padding: 0.0625rem;
    margin: 1.5625rem 0.9375rem 0rem 0rem;
    border: 0.125rem solid var(--color-grey-5);
    font-size: var(--font-size-4);
}

.add-value{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--all-gap)
}

.add-value > button{
    width: 50%;
    border: 0.125rem solid var(--color-grey-5);
}

.add-value > .add{
    background-color: var(--color-brand-1);
    color: var(--color-grey-5)
}

@media (min-width: 1024px){
    .modal__controller{
        width: 24.5625rem;
        height: 17rem;
        margin-bottom: 10.625rem;
    }

    .type-value{
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    }

    .add-value{
        align-self: flex-end;
    }

    .add-value > button{
        width: 7.5rem
    }
}